@import './variables.css';

.hidden {
    display: none;
}

#game,
#validation-modal {
    display: none;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, var(--width-cell));
    grid-template-rows: repeat(3, var(--height-cell));
    gap: var(--gap-board);
    margin-bottom: 20px;
}

.cell {
    width: var(--width-cell);
    height: var(--height-cell);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-large);
    border: 2px solid var(--color-black);
    cursor: pointer;
}

.cell.x {
    color: var(--color-red);
}

.cell.o {
    color: var(--color-blue);
}