@import './variables.css';

.footer {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    text-align: center;
    padding: var(--footer-height);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: var(--box-shadow-footer);
    font-size: var(--font-size-small);
    z-index: 1001;
}

.footer a {
    color: var(--color-footer-link);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 1024px) {
    .footer {
        font-size: var(--font-size-medium);
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .footer {
        font-size: var(--font-size-small);
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: var(--font-size-xsmall);
        padding: 8px;
    }
}


@media (max-width: 768px) {
    body {
        padding-bottom: var(--footer-height);
    }
}

@media (max-width: 480px) {
    body {
        padding-bottom: var(--footer-height);
    }
}