@import './variables.css';

.right-side {
  width: var(--width-right-side);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-gray);
  padding: 0;
}

.right-side img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .right-side img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .right-side img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .right-side img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}