#validation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 28, 28, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#validation-modal .validation-modal-content {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80%;
  background-color: rgb(141, 160, 201);
  border-radius: 8px;
  overflow: hidden;
}

#validation-modal .validation-modal-content .left-side {
  flex: 1;
  padding: 20px;
  text-align: center;
}

#validation-modal .validation-modal-content .right-side {
  width: 50%;
  background-image: url('https://i.postimg.cc/52WKyXH2/enter-user-name.webp');
  background-size: cover;
  background-position: center;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(141, 29, 77, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal .modal-content {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80%;
  background-color: rgb(156, 185, 121);
  border-radius: 8px;
  overflow: hidden;
}

#modal .modal-content .left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  flex-direction: column;
}

#modal .modal-content .right-side {
  width: 50%;
  background-image: url('https://i.postimg.cc/NMM1FDGw/tic-tac-toe-image.jpg');
  background-size: cover;
  background-position: center;
}